body{
    background-color:black;
    font-family: verdana;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}


p a{
    color: aquamarine;
    text-align: center;
    font-size: 16px;
}

img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: verdana;
    font-size: 21px;
    color: grey;
    text-align: center;
}
h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}

embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
footer p{
    color: grey;
    text-align: right !important;
    font-size: 21px;
    padding: 0px 5px 15px 0px;
}